# exclude nextflow history
**/.nextflow
**/.nextflow.*
**/work
.Rproj.user
# exclude Rhistory in development
**/*.Rproj
**/.Rproj.user
**/.Rhistory
**/.Rdata
# ignore system file on macOS
**/.DS_Store
**/._*
# make exception for all md file
!**/README.md